/* You can add global styles to this file, and also import other style files */
#content{
    margin-top: 10px;
    /*    border-radius: 1px;*/
    background: white;
    box-shadow: 2px 2px 2px 2px;
    padding: 0px;
    overflow: hidden;
}

#infotmation_logo{
    margin-top: 10px;
    /*border-radius: 4px;*/
}

#infotmation_company{
    margin-top: 20px;
    border: 1;
    border-radius: 8px;
    /*box-shadow: 2px 2px 2px 0px;*/
    border: 1px solid black;
}

#infotmation_invoice{
    /*    border: 4;*/
    margin-top: 10px;
    border-radius: 8px;
    /*box-shadow: 1px 1px 1px 0px;*/
    border: 1px solid black;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 20px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.column-left {
    float: left;
    width: 40%;
    padding: 10px;
}

.column-right {
    float: right;
    width: 50%;
    padding: 10px;
}

.float-left {
    float: left;
    padding: 10px;
}

.float-right {
    float: right;
    padding: 10px;
}

.center {
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#information-client {
    border-radius: 8px;
    border: 1px solid black;
    overflow: auto;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

#table-products {
    border-collapse: collapse;
    width: 97%;
    padding: 10px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}

th{
    padding: 15px;
}

td {
    padding: 10px;
}

.column-left-additional {
    float: left;
    width: 60%;
    padding: 10px;
}

.column-right-price {
    float: right;
    width: 30%;
    padding: 10px;
}
#additional-information{
    /*    border: 4;*/
    margin-top: 30px;
    border-radius: 8px;
    /*box-shadow: 1px 1px 1px 0px;*/
    border: 1px solid black;
}

#price-details-information{
    /*    border: 4;*/
    margin-top: 10px;
    /*box-shadow: 1px 1px 1px 0px;*/
    border: 0px solid black;
}

#table-price{
    border-collapse: collapse;
    width: 95%;
    padding: 10px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#table-method-of-payment{
    border-collapse: collapse;
    width: 90%;
    padding: 0px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#method-of-payment{
    /*    border: 4;*/
    margin-top: 0px;
    /*box-shadow: 1px 1px 1px 0px;*/
    border: 0px solid black;
}