<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" >
    <!-- begin::Head -->
    <head>
        <meta charset="utf-8" />
        <title> {% block title %}Acceso - {{application_name}}!  {% endblock %} </title>
        <meta name="description" content="Latest updates and statistic charts">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--begin::Web font -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!--end::Web font -->
        {% block stylesheets %}
            <!--begin::Base Styles -->
            <!--begin::Page Vendors -->
            <!--end::Page Vendors -->
            <link href="{{ asset('build/vendors/base/vendors.bundle.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('build/demo/demo6/base/style.bundle.css') }}" rel="stylesheet" type="text/css"/>
            <!--end::Base Styles -->
        {% endblock stylesheets %}
        <link rel="shortcut icon" href="{{ asset('build/app/media/img/logos/favicon.ico') }}"/>
    </head>
    <!-- end::Head -->
    <!-- end::Body -->
    <body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
        <!-- begin:: Page -->
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
                <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                    <div class="m-login__container">
                    {% block body %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>
</div>
<!-- end::Scroll Top -->
{% block javascripts %}
    <!--begin::Base Scripts -->
    <script src="{{ asset('build/vendors/base/vendors.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/demo/demo6/base/scripts.bundle.js') }}" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Vendors -->
    <!--end::Page Vendors -->
    <!--begin::Page Snippets -->
    <script src="{{ asset('build/app/js/dashboard.js') }}" type="text/javascript"></script>
    <!--end::Page Snippets -->
{% block javascripts_inline %}{% endblock javascripts_inline %}
<script src="{{ asset('build/app/js/admin/security/login.js') }}" type="text/javascript"></script>
{% endblock javascripts %}
</body>
<!-- end::Body -->
</html>
