
{% block body %}

    <div class="m-login__logo">
        <a href="#">
            <img src="{{ asset('build/app/media/img/logos/logo-idento.png') }}"/>
        </a>
    </div>
    <div class="m-login__signin">

        <div class="m-login__head">
            <h3 class="m-login__title">
                {{application_name}}
            </h3>
        </div>
        {% if error %}
            <br>
            <div class="m-form__content">
                <div class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert" id="m_form_1_msg">
                    <div class="m-alert__text">
                        Usuario o contraseña incorrecta, revisa tus datos e inténtalo de nuevo.
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        {% endif %}
        <form id="form_login_user" class="m-login__form m-form" action="{{ path('login_check') }}" method="post">
            <div class="form-group m-form__group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control m-input" placeholder="Usuario" autocomplete="off" />
            </div>
            <div class="form-group m-form__group">
                <input type="password" id="password" name="_password" class="form-control m-input m-login__form-input--last"placeholder="Contraseña"/>
            </div>
            <div class="row m-login__form-sub">
                <div class="col m--align-left m-login__form-left">
                    <label class="m-checkbox  m-checkbox--focus">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        Recordar
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="m-login__form-action">
                <button type="submit" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                    Entrar
                </button>
            </div>
        </form>
    </div>
{% endblock %}